# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Backups
*.bak
*.000
*.001
*.002
*.003
*.004
*.005
*.006
*.007
*.008
*.009
*_dme.bat

# Temporary Files
*.local


d2c_cb/__astcache
d2c_cb/__history
d2c_cb/__recovery
Demos/CompletionProposalDemo/__astcache
Demos/CompletionProposalDemo/__history
Demos/CompletionProposalDemo/__recovery
Demos/CompletionProposalDemo/Win32
Demos/EditAppDemos/__astcache
Demos/EditAppDemos/__history
Demos/EditAppDemos/__recovery
Demos/EditAppDemos/Win32
Demos/Folding/__astcache
Demos/Folding/__history
Demos/Folding/__recovery
Demos/Folding/Win32
Demos/SearchReplaceDemo/__astcache
Demos/SearchReplaceDemo/__history
Demos/SearchReplaceDemo/__recovery
Demos/SearchReplaceDemo/Win32
DemosCb/CompletionProposalDemo/__astcache
DemosCb/CompletionProposalDemo/__history
DemosCb/CompletionProposalDemo/__recovery
DemosCb/CompletionProposalDemo/Win32
DemosCb/EditAppDemos/__astcache
DemosCb/EditAppDemos/__history
DemosCb/EditAppDemos/__recovery
DemosCb/EditAppDemos/Win32
DemosCb/Folding/__astcache
DemosCb/Folding/__history
DemosCb/Folding/__recovery
DemosCb/Folding/Win32
DemosCb/SearchReplaceDemo/__astcache
DemosCb/SearchReplaceDemo/__history
DemosCb/SearchReplaceDemo/__recovery
DemosCb/SearchReplaceDemo/Win32
DemosCb64/CompletionProposalDemo/__astcache
DemosCb64/CompletionProposalDemo/__history
DemosCb64/CompletionProposalDemo/__recovery
DemosCb64/CompletionProposalDemo/Win32
DemosCb64/EditAppDemos/__astcache
DemosCb64/EditAppDemos/__history
DemosCb64/EditAppDemos/__recovery
DemosCb64/EditAppDemos/Win32
DemosCb64/Folding/__astcache
DemosCb64/Folding/__history
DemosCb64/Folding/__recovery
DemosCb64/Folding/Win32
DemosCb64/SearchReplaceDemo/__astcache
DemosCb64/SearchReplaceDemo/__history
DemosCb64/SearchReplaceDemo/__recovery
DemosCb64/SearchReplaceDemo/Win32SourceCppRun/__astcache
SourceCppRun/__history
SourceCppRun/__recovery
SourceCppRun64/__history
SourceCppRun64/__recovery
SynGenCppRun/__astcache
SynGenCppRun/__history
SynGenCppRun/__recovery
SynGenCppRun/Win32
TestCpp/__astcache
TestCpp/__history
TestCpp/__recovery
TestCpp/Win32
