# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Backups
*.bak
*.000
*.001
*.002
*.003
*.004
*.005
*.006
*.007
*.008
*.009

# Temporary Files
*.local


d2c_cb/__astcache
d2c_cb/__history
d2c_cb/__recovery
Demos/CompletionProposalDemo/__astcache
Demos/CompletionProposalDemo/__history
Demos/CompletionProposalDemo/__recovery
Demos/EditAppDemos/__astcache
Demos/EditAppDemos/__history
Demos/EditAppDemos/__recovery
Demos/Folding/__astcache
Demos/Folding/__history
Demos/Folding/__recovery
Demos/SearchReplaceDemo/__astcache
Demos/SearchReplaceDemo/__history
Demos/SearchReplaceDemo/__recovery
DemosCb/CompletionProposalDemo/__astcache
DemosCb/CompletionProposalDemo/__history
DemosCb/CompletionProposalDemo/__recovery
DemosCb/EditAppDemos/__astcache
DemosCb/EditAppDemos/__history
DemosCb/EditAppDemos/__recovery
DemosCb/Folding/__astcache
DemosCb/Folding/__history
DemosCb/Folding/__recovery
DemosCb/SearchReplaceDemo/__astcache
DemosCb/SearchReplaceDemo/__history
DemosCb/SearchReplaceDemo/__recovery
SourceCppRun/__astcache
SourceCppRun/__history
SourceCppRun/__recovery
SynGenCppRun/__astcache
SynGenCppRun/__history
SynGenCppRun/__recovery
TestCpp/__astcache
TestCpp/__history
TestCpp/__recovery
